{% extends 'base.html.twig' %}

{% block title 'Ajouter un jeu' %}

{% block body %}
    <h1 class="center-align section">Add Game</h1>
    {{ include('form/_form_template.html.twig', {form: form, button: 'Ajouter', m_icon: 'add'}) }}
{% endblock %}